@import '@/assets/styles/variable';

.header-layout {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: @header-desktop-height;
	max-width: @large-screen-max-page-width;
	margin: auto auto;
	backdrop-filter: blur(28.5px);
	align-items: center;
	z-index: 1;
	grid-template-rows: 1fr;
	background-color: @header-background-color;
}

.logoWrap {
	margin-left: 19px;
	width: 32px;
	height: 32px;

	.logo {
		cursor: pointer;
		transition-property: transform;
		text-align: inherit;
		list-style: none;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: @icon-color-primary;

		&:hover {
			transform: scale(1.1);
			transition: transform 0.1s linear;
		}
	}
}

.login {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 13px 0 auto;
	grid-column-start: 3;
}

.navbar {
	height: 100%;
	display: flex;
	align-items: center;
	max-width: @large-screen-max-width;
	width: 100vw;
	padding: 0 70px;

	.button {
		text-decoration: none;
		padding: 20px 32px;
		margin: 4px 2px;
		height: inherit;
		touch-action: manipulation;
		user-select: none;
		color: @navigation-icon-color;
	}
}

@keyframes hover {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}
}
