.imagePreview {
	border-radius: 8px;
	width: fit-content;
	max-width: 100%;
	overflow: hidden;
}

.image {
	width: auto !important;
	height: 100% !important;
	border-radius: 8px;
	object-fit: contain;
}
