@import '@/assets/styles/variable';

.containerWrap {
  position: relative;
  top: @desktop-header-height;
  min-height: calc(100vh - @desktop-header-height);

  .container {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    height: auto;

    @media screen and (min-width: 700px) {
      max-width: @large-screen-max-width;
      padding: 0 24px;
    }

    .main {
      min-height: calc(100vh - @desktop-header-height - @footer-height);
    }
  }
}

.headerLayout {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: @desktop-header-height;
  max-width: @large-screen-max-page-width;
  margin: auto auto;
  backdrop-filter: blur(28.5px);
  z-index: 1;
  background-color: var(--header-background);
}

.logoWrap {
  margin-left: 19px;
  width: 32px;
  height: 32px;

  .logo {
    cursor: pointer;
    transition-property: transform;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    fill: @icon-color-primary;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.1s linear;
    }
  }
}

.navbar {
  height: 100%;
  max-width: @large-screen-max-width;
  width: 100vw;
  padding: 0 70px;

  .button {
    text-decoration: none;
    padding: 20px 32px;
    margin: 4px 2px;
    height: inherit;
    touch-action: manipulation;
    user-select: none;
    color: var(--secondary-icon);

    .icon {
      --width: 26px;
      --height: 26px;
      --fill: transparent;
    }
  }
}

@keyframes hover {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.footer {
  height: @footer-height;
  width: 100%;
  padding: 0 16px;

  .footerList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
  }

  .footerItem {
    display: inline-block;

    &:first-child > a {
      text-decoration: none;
      cursor: text;
    }

    & + .footerItem {
      margin-left: 12px;
    }

    & > a {
      color: var(--secondary-text);
      font-size: 1.2rem;
      overflow: visible;
      min-width: 0;
      max-width: 100%;
      line-height: 1.4;
      font-weight: 400;
      text-align: start;
      word-wrap: break-word;
      position: relative;
      white-space: pre-line;
      color: var(--secondary-text);
    }
  }
}
