@import '@/assets/styles/variable';

.containerWrap {
	display: flex;
	flex-direction: column;
	z-index: 0;
}

.containerChild {
	position: relative;
	top: @header-desktop;
	min-height: calc(100vh - @header-desktop);
}

.container {
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	flex-grow: 1;
	height: auto;

	@media screen and (min-width: 768px) {
		max-width: @large-screen-max-width;
		padding: 0 24px;
	}
}

.contentWrap {
	display: flex;
	flex-direction: column;
}

.postWrap {
	display: grid;
	grid-template-columns: 48px minmax(0, 1fr);
	grid-template-rows: min-content 19px max-content max-content;
}
