@import '@/assets/styles/variable.less';

:root {
  --base-color: rgb(0, 0, 0);
  --text-color-primary: var(--base-color);
  --text-color-secondary: rgb(153, 153, 153);
  --navigation-icon-color: rgb(184, 184, 184);
  --header-background-color: rgba(255, 255, 255, 0.85);
  --action-icon-color: rgb(8, 4, 4);
  --backround-color-primary: rgb(255, 255, 255);
  --icon-color-primary: var(--text-color-primary);
  --icon-color-secondary: rgb(153, 153, 153);


  --mask-background-color: rgba(0, 0, 0, 0.7);
  --outline-color-primary: rgba(0, 0, 0, 0.15);
  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';



  &.dark {
    --base-color: rgb(255, 255, 255);
    --text-color-primary: var(--base-color);
    --text-color-secondary: rgb(153, 153, 153);
    --navigation-icon-color: rgb(77, 77, 77);
    --header-background-color: rgba(16, 16, 16, 0.85);
    --action-icon-color: rgb(66, 66, 66);
    --backround-color-primary: rgb(16, 16, 16);
    --icon-color-primary: rgb(243, 245, 247);
    --icon-color-secondary: rgb(153, 153, 153);
    --outline-color-primary: rgba(243, 245, 247, 0.15);
  }
}


body {
  font-family: var(--font-family-system);
  font-weight: 400;
  font-style: normal;
  background-color: @backround-color-primary;
  color: @text-color-primary;
}

html {
  font-size: 62.5%;
}

.classSvg {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}