@header-desktop-height: 74px;
@large-screen-max-width: 620px;
@large-screen-max-page-width: 1230px;
@image-maxHeight: 430px;
@image-aspectRatio: 0.8;
@icon-color-primary: var(--icon-color-primary);
@icon-color-secondary: var(--icon-color-primary);
@text-color-primary: var(--text-color-primary);
@navigation-icon-color: var(--navigation-icon-color);
@header-background-color: var(--header-background-color);
@action-icon-color: var(--action-icon-color);
@backround-color-primary: var(--backround-color-primary);
